---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <body class="bg-gray-100">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          <h1 class="text-3xl font-bold text-gray-800 mb-4">
            Who Would Win In A Fight?
          </h1>

          <div
            class="max-w-sm mx-auto bg-white rounded-xl shadow-md overflow-hidden mb-8"
          >
            <div class="px-4 py-3 bg-gray-100 border-b">
              <h2 class="text-xl font-bold text-gray-800">
                Current Matchup: Combatant 1 vs. Combatant 2
              </h2>
            </div>
            <div class="p-4">
              <p class="text-gray-700">
                Vote for who you think would win in a fight?
              </p>
              <div class="mt-4 grid grid-cols-2">
                <div class="p-2">
                  <img
                    src="https://cdn.pixabay.com/photo/2014/08/20/17/21/bear-422682_960_720.jpg"
                    alt="A bear standing in a forest"
                  />

                  <label class="inline-flex items-center">
                    <input
                      type="radio"
                      class="form-radio"
                      name="vote"
                      value="combatant1"
                      checked
                    />
                    <span class="ml-2">Combatant 1</span>
                  </label>
                </div>
                <div class="p-2">
					<img
					  src="https://cdn.pixabay.com/photo/2014/08/20/17/21/bear-422682_960_720.jpg"
					  alt="A bear standing in a forest"
					/>
  
					<label class="inline-flex items-center">
					  <input
						type="radio"
						class="form-radio"
						name="vote"
						value="combatant2"
						checked
					  />
					  <span class="ml-2">Combatant 2</span>
					</label>
				  </div>
              <button
                class="mt-6 flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
              >
                Vote
              </button>
            </div>
          </div>
        </div>
      </div>
    </body>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
